@page "/Settings"

@attribute [Authorize(Roles = "Member, Assistant Coach, Admin, Sudo")];
@layout MainLayout;


@inject NavigationManager NavManager;
@inject HttpClient Http;
@inject AuthenticationStateProvider AuthProvider;

<PageTitle>Settings</PageTitle>

@if (this._isLoaded)
{
    <div class="settings-main-container">
        <RadzenCard Style="border-radius: 18px; min-width: 1200px; max-width: 1200px; min-height: 700px; max-height:700px; " Class="settings-main-container-cild">
            @if (this._missingUserInformation)
            {
                <p><em>Customer not found....</em></p>
            }
            else
            {
            <RadzenTemplateForm data="@_userInformation" Submit="@((UserInformation args) => { SaveProfileChanges(args); })">
                <RadzenRow Gap="2rem" Class="rz-p-0 rz-p-lg-4">
                    <RadzenColumn Size="12" SizeMD="6">
                        <RadzenStack>
                            <!-- User Information-->
                            <RadzenFieldset Text="User Information">
                                <RadzenStack Gap="10px">
                                    <RadzenRow AlignItems="AlignItems.Center">
                                        <RadzenColumn Size="12" SizeMD="4">
                                            <RadzenLabel Text="First Name" />
                                        </RadzenColumn>
                                        <RadzenColumn Size="12" SizeMD="8">
                                            <RadzenTextBox @bind-Value="_userInformation.FirstName" Disabled="true" AllowClear="true" Placeholder="First Name" Style="width: 100%;" />
                                        </RadzenColumn>
                                    </RadzenRow>
                                    <RadzenRow AlignItems="AlignItems.Center">
                                        <RadzenColumn Size="12" SizeMD="4">
                                            <RadzenLabel Text="Last Name" />
                                        </RadzenColumn>
                                        <RadzenColumn Size="12" SizeMD="8">
                                            <RadzenTextBox @bind-Value="_userInformation.LastName" Disabled="true" AllowClear="true" Placeholder="Last Name" Style="width: 100%;" />
                                        </RadzenColumn>
                                    </RadzenRow>

                                    <RadzenRow AlignItems="AlignItems.Center">
                                        <RadzenColumn Size="12" SizeMD="4">
                                            <RadzenLabel Text="Phone" />
                                        </RadzenColumn>
                                        <RadzenColumn Size="12" SizeMD="8">
                                            <RadzenTextBox @bind-Value="_userPhoneNumber" AllowClear="true" Name="Phone" Placeholder="Phone" Style="width: 100%;" />
                                            <RadzenRequiredValidator Component="Phone" Text="Phone number is required" Popup=true Style="position: absolute" />
                                            <RadzenRegexValidator Component="Phone" Text="Invalid Phone Number"
                                                                  Pattern="^\+?[1-9]\d{1,3}[-.\s]?\(?\d{1,3}\)?[-.\s]?\d{1,4}[-.\s]?\d{1,4}$"
                                                                  Popup=true Style="position: absolute" />
                                        </RadzenColumn>
                                    </RadzenRow>

                                    <RadzenRow AlignItems="AlignItems.Center">
                                        <RadzenColumn Size="12" SizeMD="4">
                                            <RadzenLabel Text="Email" />
                                        </RadzenColumn>
                                        <RadzenColumn Size="12" SizeMD="8">
                                            <RadzenTextBox @bind-Value="_userEmail" Disabled="true" AllowClear="true" Name="Email" Placeholder="Email" Style="width: 100%;" />
                                            <RadzenRequiredValidator Component="Email" Text="Email is required" Popup=true Style="position: absolute" />
                                            <RadzenRegexValidator Component="Email" Text="Invalid Email"
                                                                  Pattern="@_emailRegex"
                                                                  Popup=true Style="position: absolute" />
                                        </RadzenColumn>
                                    </RadzenRow>

                                    <RadzenRow AlignItems="AlignItems.Center">
                                        <RadzenColumn Size="12" SizeMD="4">
                                            <RadzenLabel Text="Password" />
                                        </RadzenColumn>
                                        <RadzenColumn Size="12" SizeMD="8">
                                            <RadzenTextBox @bind-Value="_password" Disabled="true" AllowClear="true" Name="Password" Placeholder="Password" Style="width: 100%;" />
                                            <RadzenRequiredValidator Component="Password" Text="Password is required" Popup=true Style="position: absolute" />
                                        </RadzenColumn>
                                    </RadzenRow>
                                </RadzenStack>

                            </RadzenFieldset>
                            <!-- Address-->
                            <RadzenFieldset Text="Address">
                                <RadzenRow AlignItems="AlignItems.Center">
                                    <RadzenColumn Size="12" SizeMD="4">
                                        <RadzenLabel Text="City" />
                                    </RadzenColumn>
                                    <RadzenColumn Size="12" SizeMD="8">
                                        <RadzenTextBox @bind-Value="_userInformation.City" AllowClear="true" Placeholder="City" Style="width: 100%;" />
                                    </RadzenColumn>
                                </RadzenRow>

                                <RadzenRow AlignItems="AlignItems.Center">
                                    <RadzenColumn Size="12" SizeMD="4">
                                        <RadzenLabel Text="State" />
                                    </RadzenColumn>
                                    <RadzenColumn Size="12" SizeMD="8">
                                        <RadzenDropDown @bind-Value="_userInformation.State" Data="@_states" AllowClear="true" Placeholder="State" Style="width: 100%;" />
                                    </RadzenColumn>
                                </RadzenRow>

                            </RadzenFieldset>
                        </RadzenStack>
                    </RadzenColumn>
                    <RadzenColumn Size="12" SizeMD="6">
                        <!-- User Information-->
                        <RadzenFieldset Text="Profile">
                            <RadzenRow AlignItems="AlignItems.Center">
                                <RadzenColumn Size="12" SizeMD="4">
                                    <RadzenLabel Text="Height" />
                                </RadzenColumn>
                                <RadzenColumn Size="12" SizeMD="8">
                                    <RadzenTextBox @bind-Value="_userInformation.Height" AllowClear="true" Placeholder="Name" Style="width: 100%;" />
                                    <RadzenText Text="Please know that changing your height and weight can affect the generated workouts we give you." />
                                </RadzenColumn>
                            </RadzenRow>

                            <RadzenRow AlignItems="AlignItems.Center">
                                <RadzenColumn Size="12" SizeMD="4">
                                    <RadzenLabel Text="Weight" />
                                </RadzenColumn>
                                <RadzenColumn Size="12" SizeMD="8">
                                    <RadzenNumeric @bind-Value="_userInformation.Weight" Max="500" Min="50" Placeholder="00" Style="width: 100%;" />
                                </RadzenColumn>
                            </RadzenRow>

                            <RadzenRow AlignItems="AlignItems.Center">
                                <RadzenColumn Size="12" SizeMD="4">
                                    <RadzenLabel Text="Are you in high school?" />
                                </RadzenColumn>
                                <RadzenColumn Size="12" SizeMD="8">
                                    <RadzenSwitch @bind-Value="@_userInformation.IsInHighschool" />
                                </RadzenColumn>
                            </RadzenRow>

                            <RadzenRow AlignItems="AlignItems.Center">
                                <RadzenColumn Size="12" SizeMD="4">
                                    <RadzenLabel Text="School" />
                                </RadzenColumn>
                                <RadzenColumn Size="12" SizeMD="8">
                                    <RadzenTextBox @bind-Value="_userInformation.School" AllowClear="true" Placeholder="School" Style="width: 100%;" />
                                    <RadzenText Text="If enrolled anywhere please put your schools name here" />
                                </RadzenColumn>
                            </RadzenRow>

                        </RadzenFieldset>
                    </RadzenColumn>
                </RadzenRow>
                <br />
                <RadzenStack Orientation="Orientation.Horizontal" JustifyContent="JustifyContent.Center">
                    <RadzenButton Text="Save" ButtonType="ButtonType.Submit" Size="ButtonSize.Large" />
                </RadzenStack>
            </RadzenTemplateForm>
            }
        </RadzenCard>

        <RadzenCard Style="border-radius: 18px; min-height: 700px; max-height: 700px; min-width: 680px; max-width: 680px;" Class="settings-main-container-cild"> 
            @if(_missingUserRecords)
            {
                <p>Something Went Wrong.</p>
                <p>We Were Unable To Locate your records. Pleas try again later.</p>

            }
            else
            {
                <RadzenTemplateForm data="@_userTrackRecords" Submit="@((UserTrackRecords args) => { SaveTrackRecordChanges(args); })" Style="min-width: 500px;">
                    <RadzenStack>
                        <RadzenFieldset Text="Records">
                            <RadzenStack>
                                <RadzenRow AlignItems="AlignItems.Center">
                                    <RadzenColumn Size="12" SizeMD="4">
                                        <RadzenLabel Text="400M Time" />
                                    </RadzenColumn>
                                    <RadzenColumn Size="12" SizeMD="8">
                                        <RadzenTextBox @bind-Value="_userTrackRecords._400Time" AllowClear="true" Placeholder="400M Time" Style="width: 100%;" />
                                    </RadzenColumn>
                                </RadzenRow>
                                <RadzenRow AlignItems="AlignItems.Center">
                                    <RadzenColumn Size="12" SizeMD="4">
                                        <RadzenLabel Text="800M Time" />
                                    </RadzenColumn>
                                    <RadzenColumn Size="12" SizeMD="8">
                                        <RadzenTextBox @bind-Value="_userTrackRecords._800Time" AllowClear="true" Placeholder="800M Time" Style="width: 100%;" />
                                    </RadzenColumn>
                                </RadzenRow>
                                <RadzenRow AlignItems="AlignItems.Center">
                                    <RadzenColumn Size="12" SizeMD="4">
                                        <RadzenLabel Text="1000M Time" />
                                    </RadzenColumn>
                                    <RadzenColumn Size="12" SizeMD="8">
                                        <RadzenTextBox @bind-Value="_userTrackRecords._1KTime" AllowClear="true" Placeholder="1K Time" Style="width: 100%;" />
                                    </RadzenColumn>
                                </RadzenRow>
                                <RadzenRow AlignItems="AlignItems.Center">
                                    <RadzenColumn Size="12" SizeMD="4">
                                        <RadzenLabel Text="1500M Time" />
                                    </RadzenColumn>
                                    <RadzenColumn Size="12" SizeMD="8">
                                        <RadzenTextBox @bind-Value="_userTrackRecords._1500time" AllowClear="true" Placeholder="1500M Time" Style="width: 100%;" />
                                    </RadzenColumn>
                                </RadzenRow>
                                <RadzenRow AlignItems="AlignItems.Center">
                                    <RadzenColumn Size="12" SizeMD="4">
                                        <RadzenLabel Text="1600M Time" />
                                    </RadzenColumn>
                                    <RadzenColumn Size="12" SizeMD="8">
                                        <RadzenTextBox @bind-Value="_userTrackRecords._1600Time" AllowClear="true" Placeholder="1600M Time" Style="width: 100%;" />
                                    </RadzenColumn>
                                </RadzenRow>
                                <RadzenRow AlignItems="AlignItems.Center">
                                    <RadzenColumn Size="12" SizeMD="4">
                                        <RadzenLabel Text="3K Time" />
                                    </RadzenColumn>
                                    <RadzenColumn Size="12" SizeMD="8">
                                        <RadzenTextBox @bind-Value="_userTrackRecords._3KTime" AllowClear="true" Placeholder="3K Time" Style="width: 100%;" />
                                    </RadzenColumn>
                                </RadzenRow>
                                <RadzenRow AlignItems="AlignItems.Center">
                                    <RadzenColumn Size="12" SizeMD="4">
                                        <RadzenLabel Text="3200M Time" />
                                    </RadzenColumn>
                                    <RadzenColumn Size="12" SizeMD="8">
                                        <RadzenTextBox @bind-Value="_userTrackRecords._3200Time" AllowClear="true" Placeholder="3200M Time" Style="width: 100%;" />
                                    </RadzenColumn>
                                </RadzenRow>
                                <RadzenRow AlignItems="AlignItems.Center">
                                    <RadzenColumn Size="12" SizeMD="4">
                                        <RadzenLabel Text="5K Time" />
                                    </RadzenColumn>
                                    <RadzenColumn Size="12" SizeMD="8">
                                        <RadzenTextBox @bind-Value="_userTrackRecords._5KTime" AllowClear="true" Placeholder="5K Time" Style="width: 100%;" />
                                    </RadzenColumn>
                                </RadzenRow>
                                <RadzenRow AlignItems="AlignItems.Center">
                                    <RadzenColumn Size="12" SizeMD="4">
                                        <RadzenLabel Text="8K Time" />
                                    </RadzenColumn>
                                    <RadzenColumn Size="12" SizeMD="8">
                                        <RadzenTextBox @bind-Value="_userTrackRecords._8KTime" AllowClear="true" Placeholder="8K Time" Style="width: 100%;" />
                                    </RadzenColumn>
                                </RadzenRow>
                                <RadzenRow AlignItems="AlignItems.Center">
                                    <RadzenColumn Size="12" SizeMD="4">
                                        <RadzenLabel Text="10K Time" />
                                    </RadzenColumn>
                                    <RadzenColumn Size="12" SizeMD="8">
                                        <RadzenTextBox @bind-Value="_userTrackRecords._10KTime" AllowClear="true" Placeholder="10K Time" Style="width: 100%;" />
                                    </RadzenColumn>
                                </RadzenRow>

                            </RadzenStack>
                        </RadzenFieldset>
                    </RadzenStack>
                    <br />
                    <RadzenStack Orientation="Orientation.Horizontal" JustifyContent="JustifyContent.Center">
                        <RadzenButton Text="Save" ButtonType="ButtonType.Submit" Size="ButtonSize.Large"/>
                    </RadzenStack>
                </RadzenTemplateForm>
            }

        </RadzenCard>
        @if(_isCoach)
        {
            <RadzenCard Class="settings-main-container-cild" Style="border-radius: 18px;">
                <p>You are a coach</p>
            </RadzenCard>

        }
        else if(this._userInformation.TeamID == 0)
        {
            <RadzenCard Class="settings-main-container-cild" Style="border-radius: 18px;">
                <RadzenStack Orientation="Orientation.Horizontal">
                    <p>Want to become a coach? Sign Up Here</p>
                    <RadzenButton Text="Sign up" ButtonStyle="ButtonStyle.Secondary" Click="StartCoachesRegistration"/>
                </RadzenStack>
            </RadzenCard>
        }
    </div>    
}
else
{
    <p><em>Loading Your Information...</em></p>
}



@code
{
    //Authentication state variables


    //All user variables
    private UserInformation _userInformation;
    private UserProfile _userProfile;
    UserGoals _userGoals;
    ReportedInjuries _userInjuries;
    UserCoachingStyle _userCoachingStyle;
    UserTrackRecords _userTrackRecords;
    private string _userPhoneNumber = "706-436-1212";
    private string _userEmail = "aj132@icloud.com";
    private string _password = "Password Here";

    //UserSubscription _userSubscription;
    private string _userRole = "Member";
    private bool _isOnTeam = false;
    private bool _isCoach = false;

    //All coach variables
    private Team _team;
    private TeamInfo _teamInfo;
    private TeamPackage _teamPackage;

    //bool to make user settings not displayed
    private bool _missingUserInformation = false;
    private bool _missingUserProfile = false;
    private bool _missingUserRecords = false;

    //regex
    private string _emailRegex = @"^[a-zA-Z0-9_.+-]+@[a-zA-Z0-9-]+\\.[a-zA-Z0-9-.]+$\n";

    bool _isLoaded = false;

    protected override async Task OnInitializedAsync()
    {
        //Fetch user data from API
        try
        {
            var authState = await AuthProvider.GetAuthenticationStateAsync();
            string userID = authState.User.FindFirst(ClaimTypes.NameIdentifier).Value;

            var userInfoRequest = await Http.GetAsync($"api/User/user-information");
            if(userInfoRequest.IsSuccessStatusCode)
            {
                this._userInformation = await userInfoRequest.Content.ReadFromJsonAsync<UserInformation>();

                //Check user info to see if they are apart of a team
                if(_userInformation.TeamID != 0 | _userInformation.TeamID != null)
                {
                    this._isOnTeam = true;

                    //TODO fetch team information
                }

            }
            else
            {
                this._missingUserInformation = true;
            }

            var userProfileRequest = await Http.GetAsync($"api/User/profile");
            if(userProfileRequest.IsSuccessStatusCode)
            {
                this._userProfile = await userProfileRequest.Content.ReadFromJsonAsync<UserProfile>();
            }
            else
            {
                this._missingUserProfile = true;
            }


            this._userTrackRecords = new UserTrackRecords();
            //var userTrackRecordsRequest = await Http.GetAsync($"api/User/track-records");
            //if(userTrackRecordsRequest.IsSuccessStatusCode)
            //{
            //    //this._userTrackRecords = await userTrackRecordsRequest.Content.ReadFromJsonAsync<UserTrackRecords>();

            //    this._userTrackRecords = new UserTrackRecords();
            //}
            //else
            //{
            //    this._missingUserRecords = true;
            //}

        }
        catch (Exception ex)
        {
            Console.WriteLine(ex.Message);
        }


        _isLoaded = true;
    }

    private async Task SaveProfileChanges(UserInformation newUserInfo)
    {

    }

    private void ProfileChangesInvalid()
    {
        Console.WriteLine("The changes you made to your profile are invalid.");
    }

    private void SaveTrackRecordChanges(UserTrackRecords records)
    {

    }

    //all coaches and team
    private async Task SaveTeamChanges(Team team)
    {

    }

    private async Task SaveTeamInfoChanges(TeamInfo teamInfo)
    {

    }

    private async Task SaveTeamPackageChanges(TeamPackage teamPackage)
    {

    }

    private void StartCoachesRegistration()
    {
        NavManager.NavigateTo("/Coaches-Registration");
    }


    private List<string> _states = new List<string>
    {
        "Alabama",
        "Alaska",
        "Arizona",
        "Arkansas",
        "California",
        "Colorado",
        "Connecticut",
        "Delaware",
        "Florida",
        "Georgia",
        "Hawaii",
        "Idaho",
        "Illinois",
        "Indiana",
        "Iowa",
        "Kansas",
        "Kentucky",
        "Louisiana",
        "Maine",
        "Maryland",
        "Massachusetts",
        "Michigan",
        "Minnesota",
        "Mississippi",
        "Missouri",
        "Montana",
        "Nebraska",
        "Nevada",
        "New Hampshire",
        "New Jersey",
        "New Mexico",
        "New York",
        "North Carolina",
        "North Dakota",
        "Ohio",
        "Oklahoma",
        "Oregon",
        "Pennsylvania",
        "Rhode Island",
        "South Carolina",
        "South Dakota",
        "Tennessee",
        "Texas",
        "Utah",
        "Vermont",
        "Virginia",
        "Washington",
        "West Virginia",
        "Wisconsin",
        "Wyoming"
    };

}