@page "/Settings"

@attribute [Authorize(Roles = "Member, Assistant Coach, Admin, Sudo, Coach")];
@layout MainLayout;

<PageTitle>Settings</PageTitle>
<AuthorizeView Roles="Member, Coach" Context="Child">

    <div class="settings-main-container">
        
      
            @if (this._isloading)
            {
            <div class=" justify-center content-center">
                <div class="loader"></div>
            </div>
            }
            else
            {
                <RadzenCard Style="border-radius: 12px; min-width: 1200px; max-width: 1200px; min-height: 700px; max-height:700px; " Class="settings-main-container-cild">
                        @if (this._missingUserInformation)
                        {
                            <p><em>Customer not found....</em></p>
                        }
                        else
                        {
                       
                            <RadzenTemplateForm data="@_userInformation" Submit="@((UserInformation args) => { SaveProfileChanges(args); })">
                            <RadzenRow Gap="2rem" Class="rz-p-0 rz-p-lg-4">
                                <RadzenColumn Size="12" SizeMD="6">
                                    <RadzenStack>
                                        <!-- User Information-->
                                        <RadzenFieldset Text="User Information">
                                            <RadzenStack Gap="10px">
                                                <RadzenRow AlignItems="AlignItems.Center">
                                                    <RadzenColumn Size="12" SizeMD="4">
                                                        <RadzenLabel Text="Profile Picture Here" />
                                                    </RadzenColumn>
                                                    <RadzenColumn Size="12" SizeMD="8">
                                                        <RadzenButton Text="Update Profile Photo"/>
                                                    </RadzenColumn>
                                                </RadzenRow>
                                                <RadzenRow AlignItems="AlignItems.Center">
                                                    <RadzenColumn Size="12" SizeMD="4">
                                                        <RadzenLabel Text="First Name" />
                                                    </RadzenColumn>
                                                    <RadzenColumn Size="12" SizeMD="8">
                                                        <RadzenTextBox  @bind-Value="_userInformation.FirstName" Disabled="true" AllowClear="true" Placeholder="First Name" Style="width: 100%;" />
                                                    </RadzenColumn>
                                                </RadzenRow>
                                                <RadzenRow AlignItems="AlignItems.Center">
                                                    <RadzenColumn Size="12" SizeMD="4">
                                                        <RadzenLabel Text="Last Name" />
                                                    </RadzenColumn>
                                                    <RadzenColumn Size="12" SizeMD="8">
                                                        <RadzenTextBox @bind-Value="_userInformation.LastName" Disabled="true" AllowClear="true" Placeholder="Last Name" Style="width: 100%;" />
                                                    </RadzenColumn>
                                                </RadzenRow>

                                                <RadzenRow AlignItems="AlignItems.Center">
                                                    <RadzenColumn Size="12" SizeMD="4">
                                                        <RadzenLabel Text="Phone" />
                                                    </RadzenColumn>
                                                    <RadzenColumn Size="12" SizeMD="8">
                                                        <RadzenTextBox @bind-Value="_userPhoneNumber" AllowClear="true" Name="Phone" Placeholder="Phone" Style="width: 100%;" />
                                                        <RadzenRequiredValidator Component="Phone" Text="Phone number is required" Popup=true Style="position: absolute" />
                                                        <RadzenRegexValidator Component="Phone" Text="Invalid Phone Number"
                                                                            Pattern="^\+?[1-9]\d{1,3}[-.\s]?\(?\d{1,3}\)?[-.\s]?\d{1,4}[-.\s]?\d{1,4}$"
                                                                            Popup=true Style="position: absolute" />
                                                    </RadzenColumn>
                                                </RadzenRow>

                                                <RadzenRow AlignItems="AlignItems.Center">
                                                    <RadzenColumn Size="12" SizeMD="4">
                                                        <RadzenLabel Text="Email" />
                                                    </RadzenColumn>
                                                    <RadzenColumn Size="12" SizeMD="8">
                                                        <RadzenTextBox @bind-Value="_userEmail" Disabled="true" AllowClear="true" Name="Email" Placeholder="Email" Style="width: 100%;" />
                                                        <RadzenRequiredValidator Component="Email" Text="Email is required" Popup=true Style="position: absolute" />
                                                        <RadzenRegexValidator Component="Email" Text="Invalid Email"
                                                                            Pattern="@_emailRegex"
                                                                            Popup=true Style="position: absolute" />
                                                    </RadzenColumn>
                                                </RadzenRow>

                                                <RadzenRow AlignItems="AlignItems.Center">
                                                    <RadzenColumn Size="12" SizeMD="4">
                                                        <RadzenLabel Text="Password" />
                                                    </RadzenColumn>
                                                    <RadzenColumn Size="12" SizeMD="8">
                                                        <RadzenTextBox @bind-Value="_password" Disabled="true" AllowClear="true" Name="Password" Placeholder="Password" Style="width: 100%;" />
                                                        <RadzenRequiredValidator Component="Password" Text="Password is required" Popup=true Style="position: absolute" />
                                                    </RadzenColumn>
                                                </RadzenRow>
                                            </RadzenStack>

                                        </RadzenFieldset>
                                        <!-- Address-->
                                        <RadzenFieldset Text="Address">
                                            <RadzenStack>
                                                <RadzenRow AlignItems="AlignItems.Center">
                                                    <RadzenColumn Size="12" SizeMD="4">
                                                        <RadzenLabel Text="City" />
                                                    </RadzenColumn>
                                                    <RadzenColumn Size="12" SizeMD="8">
                                                        <RadzenTextBox @bind-Value="_userInformation.City" AllowClear="true" Placeholder="City" Style="width: 100%;" />
                                                    </RadzenColumn>
                                                </RadzenRow>

                                                <RadzenRow AlignItems="AlignItems.Center">
                                                    <RadzenColumn Size="12" SizeMD="4">
                                                        <RadzenLabel Text="State" />
                                                    </RadzenColumn>
                                                    <RadzenColumn Size="12" SizeMD="8">
                                                        <RadzenDropDown @bind-Value="_userInformation.State" Data="@_states" AllowClear="true" Placeholder="State" Style="width: 100%;" />
                                                    </RadzenColumn>
                                                </RadzenRow>
                                            </RadzenStack>

                                        </RadzenFieldset>
                                    </RadzenStack>
                                </RadzenColumn>
                                <RadzenColumn Size="12" SizeMD="6">
                                    <!-- User Information-->
                                    <RadzenFieldset Text="Profile">
                                        <RadzenRow AlignItems="AlignItems.Center">
                                            <RadzenColumn Size="12" SizeMD="4">
                                                <RadzenLabel Text="Height" />
                                            </RadzenColumn>
                                            <RadzenColumn Size="12" SizeMD="8">
                                                <RadzenTextBox @bind-Value="_userInformation.Height" AllowClear="true" Placeholder="Name" Style="width: 100%;" />
                                                <RadzenText Text="Please know that changing your height and weight can affect the generated workouts we give you." />
                                            </RadzenColumn>
                                        </RadzenRow>

                                        <RadzenRow AlignItems="AlignItems.Center">
                                            <RadzenColumn Size="12" SizeMD="4">
                                                <RadzenLabel Text="Weight" />
                                            </RadzenColumn>
                                            <RadzenColumn Size="12" SizeMD="8">
                                                <RadzenNumeric @bind-Value="_userInformation.Weight" Max="500" Min="50" Placeholder="00" Style="width: 100%;" />
                                            </RadzenColumn>
                                        </RadzenRow>

                                        <RadzenRow AlignItems="AlignItems.Center">
                                            <RadzenColumn Size="12" SizeMD="4">
                                                <RadzenLabel Text="Are you in high school?" />
                                            </RadzenColumn>
                                            <RadzenColumn Size="12" SizeMD="8">
                                                <RadzenSwitch @bind-Value="@_userInformation.IsInHighschool" />
                                            </RadzenColumn>
                                        </RadzenRow>

                                        <RadzenRow AlignItems="AlignItems.Center">
                                            <RadzenColumn Size="12" SizeMD="4">
                                                <RadzenLabel Text="School" />
                                            </RadzenColumn>
                                            <RadzenColumn Size="12" SizeMD="8">
                                                <RadzenTextBox @bind-Value="_userInformation.School" AllowClear="true" Placeholder="School" Style="width: 100%;" />
                                                <RadzenText Text="If enrolled anywhere please put your schools name here" />
                                            </RadzenColumn>
                                        </RadzenRow>

                                    </RadzenFieldset>
                                </RadzenColumn>
                            </RadzenRow>
                            <br />
                            <RadzenStack Orientation="Orientation.Horizontal" JustifyContent="JustifyContent.Center">
                                <RadzenButton Text="Save" ButtonType="ButtonType.Submit" Size="ButtonSize.Large" />
                            </RadzenStack>
                        </RadzenTemplateForm>
                       
                        }
                    </RadzenCard>
                
                <AuthorizeView Roles="Coach" Context="child">
                    <RadzenCard Class="settings-main-container-cild" Style="border-radius: 12px; min-width: 680px; max-width: 680px;">
                       @if(_userInformation.TeamID != 0)
                       {
                            <div class="flex flex-col justify-center content-center">
                                <p>Manage</p>
                            </div>
                       }
                       else
                       {
                         <RadzenStack Orientation="Orientation.Horizontal" AlignItems="AlignItems.Center" JustifyContent="JustifyContent.Center">
                            <p class=" text-lg font-medium" style="margin-block-end: 0;">Want to create a team? Register Here</p>
                            <RadzenButton Text="Create" Size="ButtonSize.Large" ButtonStyle="ButtonStyle.Primary" Click="StartCoachesRegistration"/>
                        </RadzenStack>
                       }
                    </RadzenCard>
                </AuthorizeView>
       
                <AuthorizeView Roles="Member" Context="child">
                      <RadzenCard Style="border-radius: 12px; min-height: 700px; max-height: 700px; min-width: 680px; max-width: 680px;" Class="settings-main-container-cild">
                    @if(_missingUserRecords)
                    {
                        <p>Something Went Wrong.</p>
                        <p>We Were Unable To Locate your records. Pleas try again later.</p>

                    }
                    else
                    {
                        <RadzenTemplateForm data="@_userTrackRecords" Submit="@((UserTrackRecords args) => { SaveTrackRecordChanges(args); })" Style="min-width: 500px;">
                            <RadzenStack>
                                <RadzenFieldset Text="Records">
                                    <RadzenStack>
                                        <RadzenRow AlignItems="AlignItems.Center">
                                            <RadzenColumn Size="12" SizeMD="4">
                                                <RadzenLabel Text="400M Time" />
                                            </RadzenColumn>
                                            <RadzenColumn Size="12" SizeMD="8">
                                                <RadzenTextBox @bind-Value="_userTrackRecords._400Time" AllowClear="true" Placeholder="400M Time" Style="width: 100%;" />
                                            </RadzenColumn>
                                        </RadzenRow>
                                        <RadzenRow AlignItems="AlignItems.Center">
                                            <RadzenColumn Size="12" SizeMD="4">
                                                <RadzenLabel Text="800M Time" />
                                            </RadzenColumn>
                                            <RadzenColumn Size="12" SizeMD="8">
                                                <RadzenTextBox @bind-Value="_userTrackRecords._800Time" AllowClear="true" Placeholder="800M Time" Style="width: 100%;" />
                                            </RadzenColumn>
                                        </RadzenRow>
                                        <RadzenRow AlignItems="AlignItems.Center">
                                            <RadzenColumn Size="12" SizeMD="4">
                                                <RadzenLabel Text="1000M Time" />
                                            </RadzenColumn>
                                            <RadzenColumn Size="12" SizeMD="8">
                                                <RadzenTextBox @bind-Value="_userTrackRecords._1KTime" AllowClear="true" Placeholder="1K Time" Style="width: 100%;" />
                                            </RadzenColumn>
                                        </RadzenRow>
                                        <RadzenRow AlignItems="AlignItems.Center">
                                            <RadzenColumn Size="12" SizeMD="4">
                                                <RadzenLabel Text="1500M Time" />
                                            </RadzenColumn>
                                            <RadzenColumn Size="12" SizeMD="8">
                                                <RadzenTextBox @bind-Value="_userTrackRecords._1500time" AllowClear="true" Placeholder="1500M Time" Style="width: 100%;" />
                                            </RadzenColumn>
                                        </RadzenRow>
                                        <RadzenRow AlignItems="AlignItems.Center">
                                            <RadzenColumn Size="12" SizeMD="4">
                                                <RadzenLabel Text="1600M Time" />
                                            </RadzenColumn>
                                            <RadzenColumn Size="12" SizeMD="8">
                                                <RadzenTextBox @bind-Value="_userTrackRecords._1600Time" AllowClear="true" Placeholder="1600M Time" Style="width: 100%;" />
                                            </RadzenColumn>
                                        </RadzenRow>
                                        <RadzenRow AlignItems="AlignItems.Center">
                                            <RadzenColumn Size="12" SizeMD="4">
                                                <RadzenLabel Text="3K Time" />
                                            </RadzenColumn>
                                            <RadzenColumn Size="12" SizeMD="8">
                                                <RadzenTextBox @bind-Value="_userTrackRecords._3KTime" AllowClear="true" Placeholder="3K Time" Style="width: 100%;" />
                                            </RadzenColumn>
                                        </RadzenRow>
                                        <RadzenRow AlignItems="AlignItems.Center">
                                            <RadzenColumn Size="12" SizeMD="4">
                                                <RadzenLabel Text="3200M Time" />
                                            </RadzenColumn>
                                            <RadzenColumn Size="12" SizeMD="8">
                                                <RadzenTextBox @bind-Value="_userTrackRecords._3200Time" AllowClear="true" Placeholder="3200M Time" Style="width: 100%;" />
                                            </RadzenColumn>
                                        </RadzenRow>
                                        <RadzenRow AlignItems="AlignItems.Center">
                                            <RadzenColumn Size="12" SizeMD="4">
                                                <RadzenLabel Text="5K Time" />
                                            </RadzenColumn>
                                            <RadzenColumn Size="12" SizeMD="8">
                                                <RadzenTextBox @bind-Value="_userTrackRecords._5KTime" AllowClear="true" Placeholder="5K Time" Style="width: 100%;" />
                                            </RadzenColumn>
                                        </RadzenRow>
                                        <RadzenRow AlignItems="AlignItems.Center">
                                            <RadzenColumn Size="12" SizeMD="4">
                                                <RadzenLabel Text="8K Time" />
                                            </RadzenColumn>
                                            <RadzenColumn Size="12" SizeMD="8">
                                                <RadzenTextBox @bind-Value="_userTrackRecords._8KTime" AllowClear="true" Placeholder="8K Time" Style="width: 100%;" />
                                            </RadzenColumn>
                                        </RadzenRow>
                                        <RadzenRow AlignItems="AlignItems.Center">
                                            <RadzenColumn Size="12" SizeMD="4">
                                                <RadzenLabel Text="10K Time" />
                                            </RadzenColumn>
                                            <RadzenColumn Size="12" SizeMD="8">
                                                <RadzenTextBox @bind-Value="_userTrackRecords._10KTime" AllowClear="true" Placeholder="10K Time" Style="width: 100%;" />
                                            </RadzenColumn>
                                        </RadzenRow>

                                    </RadzenStack>
                                </RadzenFieldset>
                            </RadzenStack>
                            <br />
                            <RadzenStack Orientation="Orientation.Horizontal" JustifyContent="JustifyContent.Center">
                                <RadzenButton Text="Save" ButtonType="ButtonType.Submit" Size="ButtonSize.Large"/>
                            </RadzenStack>
                        </RadzenTemplateForm>
                    }

                    </RadzenCard>
                  </AuthorizeView>
            }
       
   
        
         
      
    </div>
</AuthorizeView>


