@attribute [Authorize(Roles = "Member, Assistant Coach, Admin, Sudo")];
@inject HttpClient Http;
@layout EmptyLayout;
@inject AuthenticationStateProvider AuthProvider;
@using System.Diagnostics;
@using System.Security.Claims;
@inject NavigationManager NavigationManager;



@page "/Coaches-Registration"


<PageTitle>Coaches Registration</PageTitle>

<div class="coaches-registration-main-container">
    <RadzenStack Orientation="Orientation.Vertical" JustifyContent="JustifyContent.Center" AlignItems="AlignItems.Center" Style="height: 100%;">
        <RadzenCard class="coaches-registration-steps-container" Style="border-radius: 12px;">
            <RadzenStack JustifyContent="JustifyContent.Center" AlignItems="AlignItems.Center">
                <RadzenSteps Style="margin: 50px;">
                    <Steps >
                        <RadzenStepsItem Text="General Information" >
                           <RadzenStack AlignItems="AlignItems.Center">
                                <h2>Lets Confirm Some Information</h2>
                           </RadzenStack>
                            <RadzenCard Style="border-radius: 12px; padding: 1rem;">
                                <RadzenTemplateForm TItem="CoachRegistration" Data="@_coachRegistration">
                                    <RadzenStack Orientation="Orientation.Vertical" JustifyContent="JustifyContent.Center" AlignItems="AlignItems.Center" Gap="15px">

                                        <RadzenFieldset Text="General Info" Style="min-width: 540px; max-width: 540px">
                                            <RadzenStack Orientation="Orientation.Vertical">
                                                <RadzenRow AlignItems="AlignItems.Center">
                                                    <RadzenColumn Size="4">
                                                        <RadzenLabel Text="Confirm Email" />
                                                    </RadzenColumn>
                                                    <RadzenColumn Size="8">
                                                        <RadzenStack Orientation="Orientation.Horizontal" JustifyContent="JustifyContent.Center" AlignItems="AlignItems.Center">
                                                            <RadzenStack>
                                                                <RadzenTextBox @bind-Value="@_coachRegistration.Email" Disabled="@(_coachRegistration.EmailIsCorrect)" Name="ConfirmEmail" />
                                                                <RadzenRequiredValidator Component="ConfirmEmail" Text="Email is Required" Popup="true" />
                                                            </RadzenStack>

                                                            <RadzenText Text="Email is Correct" />
                                                            <RadzenSwitch @bind-Value="@_coachRegistration.EmailIsCorrect" />

                                                        </RadzenStack>
                                                    </RadzenColumn>
                                                </RadzenRow>
                                            </RadzenStack>
                                        </RadzenFieldset>
                                        <RadzenFieldset Text="Billing Address" Style="min-width: 540px; max-width: 540px">
                                            <RadzenStack Gap="20px">
                                                <RadzenRow AlignItems="AlignItems.Center">
                                                    <RadzenColumn Size="6">
                                                        <RadzenLabel Text="Address Line 1" />
                                                    </RadzenColumn>
                                                    <RadzenColumn Size="6">
                                                        <RadzenTextBox Style="width: 100%;" Name="Address1" @bind-Value="@_coachRegistration.Address" />
                                                        <RadzenRequiredValidator Component="Address1" Text="Address is Required" Popup="true" />
                                                    </RadzenColumn>
                                                </RadzenRow>
                                                <RadzenRow AlignItems="AlignItems.Center">
                                                    <RadzenColumn Size="6">
                                                        <RadzenLabel Text="Address Line 2" />
                                                    </RadzenColumn>
                                                    <RadzenColumn Size="6">
                                                        <RadzenTextBox Style="width: 100%;" Name="Address2" @bind-Value="@_coachRegistration.Address2" />

                                                    </RadzenColumn>
                                                </RadzenRow>
                                                <RadzenRow AlignItems="AlignItems.Center">
                                                    <RadzenColumn Size="6">
                                                        <RadzenLabel Text="City" />
                                                    </RadzenColumn>
                                                    <RadzenColumn Size="6">
                                                        <RadzenTextBox Style="width: 100%;" Name="City" @bind-Value="@_coachRegistration.City" />
                                                        <RadzenRequiredValidator Component="City" Text="City is Required" Popup="true" />
                                                    </RadzenColumn>
                                                </RadzenRow>

                                                <RadzenRow AlignItems="AlignItems.Center">
                                                    <RadzenColumn Size="6">
                                                        <RadzenLabel Text="State" />
                                                    </RadzenColumn>
                                                    <RadzenColumn Size="6">
                                                        <RadzenDropDown Style="width: 100%;" Name="State" Data="@_states" @bind-Value="@_coachRegistration.State" />
                                                        <RadzenRequiredValidator Component="State" Text="State is Required" Popup="true" />
                                                    </RadzenColumn>
                                                </RadzenRow>

                                                <RadzenRow AlignItems="AlignItems.Center">
                                                    <RadzenColumn Size="6">
                                                        <RadzenLabel Text="Zip / Postal Code" />
                                                    </RadzenColumn>
                                                    <RadzenColumn Size="6">
                                                        <RadzenTextBox Style="width: 100%;" Name="Zip" @bind-Value="@_coachRegistration.Zipcode" />
                                                        <RadzenRequiredValidator Component="Zip" Text="Zip Code is Required" Popup="true" />
                                                    </RadzenColumn>
                                                </RadzenRow>


                                                <RadzenRow AlignItems="AlignItems.Center">
                                                    <RadzenColumn Size="6">
                                                        <RadzenLabel Text="Are you afiliated with any school?" />
                                                        <RadzenText Text="If so please enter school name here." />
                                                    </RadzenColumn>
                                                    <RadzenColumn Size="6">
                                                        <RadzenTextBox Style="width: 100%;" Name="SchoolName" @bind-Value="@_coachRegistration.AffliatedSchool" />
                                                    </RadzenColumn>
                                                </RadzenRow>
                                            </RadzenStack>
                                        </RadzenFieldset>


                                    </RadzenStack>
                                    @*
                                    <RadzenStack AlignItems="AlignItems.Center" Style="margin-top: 20px;">
                                    <RadzenButton Text="Submit" Size="ButtonSize.Large" ButtonStyle="ButtonStyle.Primary" ButtonType="ButtonType.Submit" Style="max-width: 200px;"/>
                                    </RadzenStack>
                                    *@
                                </RadzenTemplateForm>
                            </RadzenCard>
                        </RadzenStepsItem>
                        <RadzenStepsItem Text="Create Team">
                            <RadzenStack JustifyContent="JustifyContent.Center" AlignItems="AlignItems.Center">
                                
                               
                                <h2>Team Creation</h2>
                                <h3>Let's get your team created</h3>
                                <RadzenTemplateForm @ref="_teamInfoForm" Data="_coachRegistration">
                                    <RadzenStack>
                                    <RadzenFieldset Text="Team Info" Style="min-width: 540px; max-width: 540px">
                                            <RadzenStack Orientation="Orientation.Vertical" Gap="30px">
                                                <RadzenRow AlignItems="AlignItems.Center">
                                                    
                                                     <RadzenStack JustifyContent="JustifyContent.Center" AlignItems="AlignItems.Center">
                                                        <div class="header-subtext" style="width: 80%">
                                                            <h3>Team Name</h3>
                                                            <p>Please choose wisely as you can only change your name 1 more time for free</p>
                                                        </div>

                                                        <RadzenTextBox Style="max-width: 300px; min-width: 250px;" MaxLength="50" Name="TeamName" @bind-Value="@_coachRegistration.TeamName" Placeholder="Team Name"/>
                                                        <RadzenRequiredValidator Component="TeamName" Text="Team Name is Required" Popup="true" />
                                                     </RadzenStack>
                                                    
                                                </RadzenRow>

                                                <RadzenRow AlignItems="AlignItems.Center" JustifyContent="JustifyContent.Center">
                                                    <div class="header-subtext" style="width: 80%;">
                                                        <h3>Sport</h3>
                                                        <p>What sport will you be coaching?</p>
                                                    </div>
                                                    <RadzenStack Orientation="Orientation.Horizontal">
                                                        <RadzenDropDown Data="_sports" @bind-Value="_coachRegistration.TeamSport" Placeholder="Sport" TValue="string" Change="@(args => TeamSportDropDownChange(args.ToString()))" />
                                                        @if(_otherSportSelected)
                                                        {
                                                            <RadzenTextBox Placeholder="Please Specify" @bind-Value="_coachRegistration.TeamSportSpecify"  />
                                                        }
                                                    </RadzenStack>
                                                </RadzenRow>

                                                <RadzenRow AlignItems="AlignItems.Center" JustifyContent="JustifyContent.Center">
                                                    <div class="header-subtext">
                                                        <h3>Location</h3>
                                                        <p>This is optional and doesnt affect your ability to coach from afar</p>
                                                    </div>
                                                   <RadzenStack Orientation="Orientation.Horizontal">
                                                        <RadzenTextBox Style="max-width: 250px; min-width: 250px;" Name="TeamLocation" @bind-Value="@_coachRegistration.TeamLocationCity" Placeholder="City" />
                                                        <RadzenDropDown Style="max-width: 200px; min-width: 200px;" Name="TeamState" Data="@_states" @bind-Value="@_coachRegistration.TeamLocationState" Placeholder="State" />
                                                   </RadzenStack>
                                                </RadzenRow>
                                            </RadzenStack>
                                        </RadzenFieldset>
                                       
                                    </RadzenStack>
                                </RadzenTemplateForm>
                                
                            </RadzenStack>
                        </RadzenStepsItem>
                        
                        <RadzenStepsItem Text="Select Package">
                            <div class="spacer-vertical"/>
                            <div class="packages-container">
                                <RadzenStack AlignItems="AlignItems.Center">
                                    <h2>Please Select A Package</h2>
                                    <RadzenSelectBar @bind-Value=@_monthlyOrYearly TValue="bool" Change="YearlMonthlySwitchChange" Size="ButtonSize.Large">
                                        <Items>
                                            <RadzenSelectBarItem Text="Monthly" Value="false" />
                                            <RadzenSelectBarItem Text="Yearly" Value="true" />
                                        </Items>
                                    </RadzenSelectBar>

                                    <RadzenStack Orientation="Orientation.Horizontal" Gap="20px" Style=" padding: 1.5rem;">
                                        @foreach (var package in _allPackages)
                                        {
                                            <div class="coach-registration-package-card @(_selectedPackage == null ? "none-selected" : _selectedPackage == package ? "selected" : "")" style="min-width: 445px; max-width: 450px;" @onclick="() => SelectPackage(package)">


                                                <RadzenCard Style=" margin: 50px; border-radius: 12px; min-height: 650px; height: 650px;">
                                                    <RadzenStack Orientation="Orientation.Vertical" JustifyContent="JustifyContent.Center" Gap="1rem">
                                                        <RadzenStack Gap="0">
                                                            <div class="header-subtext">
                                                              <RadzenStack Orientation="Orientation.Vertical" AlignItems="AlignItems.Center">
                                                                    <h3><b>@(package.PackageName)</b></h3>
                                                                    <p>@(package.PackageSubtext)</p>
                                                              </RadzenStack>
                                                            </div>
                                                        </RadzenStack>
                                                        <div class="line-horizontal"></div>
                                                       
                                                        <RadzenStack Orientation="Orientation.Vertical" AlignItems="AlignItems.Center" JustifyContent="JustifyContent.Center"> 
                                                            @if(package.PackageID == 4)
                                                            {
                                                                <h1><b>Free!</b></h1>
                                                            }
                                                            else
                                                            {
                                                                @if (this._monthlyOrYearly)
                                                                {
                                                                    <h1 ><b>$@(package.PackagePriceYearly)</b></h1>
                                                                    <p>Per Month</p>
                                                                }
                                                                else
                                                                {
                                                                    <h1 ><b>$@(package.PackagePriceMonthly)</b></h1>
                                                                    <p>Per Year</p>
                                                                }                                                                
                                                            }
                                                        </RadzenStack>
                                                        
                                                        <div class="line-horizontal" />
                                                        <RadzenStack Gap="10px">

                                                            <RadzenStack Orientation="Orientation.Horizontal" JustifyContent="JustifyContent.Start">
                                                                <div class="header-subtext">
                                                                    <h4>Up To @(package.PackageMaxMembers.ToString()) Athletes</h4>
                                                                </div>
                                                            </RadzenStack>
                                                           
                                                            @if(package.PackageID == 1)
                                                            {
                                                                <RadzenStack Orientation="Orientation.Horizontal" JustifyContent="JustifyContent.Start">
                                                                    <div class="header-subtext">
                                                                        <h4>Up To @(package.PackageMaxAssistantCoaches.ToString()) Assistant Coaches</h4>
                                                                    </div>

                                                                </RadzenStack>
                                                            }
                                                            else if(package.PackageID == 2)
                                                            {
                                                                <RadzenStack Orientation="Orientation.Horizontal" JustifyContent="JustifyContent.Start">
                                                                    <div class="header-subtext">
                                                                        <h4>@(package.PackageMaxAssistantCoaches.ToString()) Assistant Coach</h4>
                                                                    </div>
                                                                </RadzenStack>                                                                
                                                            }

                                                            <div class="spacer-vertical"/>

                                                            @foreach(var feature in package.PackageFeatures)
                                                            {
                                                                <RadzenStack Orientation="Orientation.Horizontal" JustifyContent="JustifyContent.Start">
                                                                    <RadzenIcon Icon="done"/>
                                                                    <p>@feature</p>
                                                                </RadzenStack>
                                                            }


                                                        </RadzenStack>
                                                    </RadzenStack>
                                                    
                                                        
                                                    
                                                   
                                                </RadzenCard>

                                            </div>
                                        }
                                    </RadzenStack>
                                </RadzenStack>
                            </div>
                        </RadzenStepsItem>
                        
                        <RadzenStepsItem Text="Finalize">
                           <RadzenStack Gap="20px" AlignItems="AlignItems.Center" JustifyContent="JustifyContent.Center">
                               <h2>Almost There!</h2>
                               <h3>Confirm Info and Press Submit</h3>
                               <RadzenButton Text="Info To Console" />
                               <RadzenButton Text="Submit" Click="SubmitRegistration"/>
                           </RadzenStack>
                        </RadzenStepsItem>
                    </Steps>
                </RadzenSteps>
         </RadzenStack>
       </RadzenCard>
    </RadzenStack>
</div>

<style>
    .rz-steps-next{
        font-size: 2rem;
        font-weight: 600;
    }
    .rz-steps-prev{
        font-size: 2rem;
        font-weight: 600;
    }

    .rz-steps-next.rz-state-disabled {
            opacity: 0 !important;
    }
    .rz-steps-prev.rz-state-disabled {
        opacity: 0 !important;
    }

</style>




