@page "/"
@layout EmptyLayout;


@namespace ProServ.Client.Pages.Login_and_Onboarding.Login




@if(this._loading)
{
    <RadzenStack AlignItems="AlignItems.Center" JustifyContent="JustifyContent.Center">
        <RadzenProgressBar ProgressBarStyle="ProgressBarStyle.Primary" Value="100" ShowValue="false" Mode="ProgressBarMode.Indeterminate" />
    </RadzenStack>
}
else
{
    <div class="login-container">

        <RadzenCard class="login-content rz-border-radius-6" style="padding: 0;">
            <div class="login-split-left">
                <div class="center-login-content">
                    <RadzenStack Orientation="Orientation.Vertical" AlignItems="AlignItems.Start">
                        <h2>Welcome To ProServ</h2>
                        <span>Welcome back,<br />Please Login to your Account</span>
                        <br />

                        <span><p>Email</p></span>
                        <RadzenTextBox @bind-Value="@_email" style="width: 100%;" />
                        <span><p>Password</p></span>
                        <RadzenPassword @bind-Value="@_password" style="width: 100%;" />
                        <div>
                        </div>
                        <RadzenStack Orientation="Orientation.Horizontal" AlignItems="AlignItems.Start">
                            <RadzenButton Text="Login" Click="@HandleValidSubmit" />
                            <RadzenButton Text="Register" Click="@NavigateToRegister" ButtonStyle="ButtonStyle.Warning" />
                            <RadzenButton Text="SudoLogin" Click="@FillNLogin" ButtonStyle="ButtonStyle.Secondary" />
                            <RadzenButton Text="CoachLogin" Click="@CoachLogin" ButtonStyle="ButtonStyle.Secondary" />
                        </RadzenStack>

                    </RadzenStack>
                </div>
            </div>

            <div class="login-split-right">
            </div>
        </RadzenCard>


    </div>
}

<style>
    .login-container {
        margin-top: auto;
        width: 100vw;
        height: 100vh;
        position: relative;
        justify-content: center;
        align-items: center;
        display: flex;
        margin: auto;

        
        /* Gradient top left to bottom right */
        background-image: linear-gradient(to bottom right, #3776df, #99d5fb);
    }

    .login-content {
        width: 70%;
        max-width: 1000px;
        height: fit-content;
        overflow: hidden;


        /*There will be two sections. move them horizontally*/
        display: flex;
        flex-direction: row;

        /*Center the content*/
        justify-content: center;
        align-items: center;

        box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
        
    
    }

    :root {
        font-family: "Roboto";
        line-height: 1.5;
        font-weight: 400;
    }

    .login-split-right {
        width: 50%;
        overflow: hidden;
        position: relative;
        padding-top: 56.25%; /* for 16:9 aspect ratio. Change this value according to your needs */
        background-color: red;
    }

    .login-split-right img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        position: absolute;
        top: 0;
        left: 0;
    }

    .login-split-left {
        width: 50%;
        box-sizing: border-box;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .center-login-content{
        width: auto;
        margin: 1rem 1rem 1rem 1rem;
    }


</style>

