@page "/Register"
@inject NavigationManager NavigationManager
@inject HttpClient Http
@inject ILocalStorageService localStorage;
@inject AuthenticationStateProvider AuthProvider;

@layout EmptyLayout
@using System.Text.RegularExpressions;

@using ProServ.Shared.Models.NET_CORE_USER;
@using ProServ.Shared.Models.UserInfo;

<PageTitle>Register</PageTitle>
<div class="register-container">
    
    @if(this._registerStep == 1)
    {
        <RadzenStack AlignItems="AlignItems.Center" JustifyContent="JustifyContent.Center">
            <RadzenStack AlignItems="AlignItems.Center" JustifyContent="JustifyContent.Center">
               <div class="register-step-1">
                   <div>
                        <h2>Start your account as...</h2>
                        <p>Already have an account? <a>Sign In</a></p>

                   </div>
                    <RadzenStack AlignItems="AlignItems.Center" Style="width: 100%;">
                        <RadzenSelectBar @bind-Value=@_coachOrAthlete TValue="bool" Change="RegisterSwitchToggle" Size="ButtonSize.Large">
                            <Items>
                                <RadzenSelectBarItem Text="Athlete" Value="false" />
                                <RadzenSelectBarItem Text="Coach" Value="true" />
                            </Items>
                        </RadzenSelectBar>
                    </RadzenStack>

                    <div class="register-step-1-content">
                        @if (_coachOrAthlete == false)
                        {
                            <p>Athlete</p>
                        }
                        else
                        {
                            <p>Coach</p>
                        }
                    </div>
                </div>
            </RadzenStack>
        </RadzenStack>
    }
    else if(this._registerStep == 2)
    {
        <RadzenStack Orientation="Orientation.Vertical" AlignItems="AlignItems.Center">
            <h1>Logo Here</h1>
            <h3>PacePerfect</h3>
            <RadzenText Text="Lets get you registered!" />
            <br />

            <RadzenText Text="Please enter your email address" />
            <RadzenTextBox Placeholder="Email Address" @bind-Value="email" />
            <RadzenText Visible="@_enterEmail" Text="Please enter a valid email address" Style="color: Red;" />
            <br />

            <RadzenText Text="Password must contain:" />
            <RadzenStack Orientation="Orientation.Horizontal" AlignItems="AlignItems.Center">
                <RadzenText @ref="@_minCharCheck" Text="8 characters" />
                @if (_hasMinChars)
                {
                    <RadzenIcon Icon="done" Style="width: 40px;" />
                }
                else
                {
                    <RadzenIcon Icon="hourglass_empty" Style="width: 40px;" />
                }
            </RadzenStack>

            <RadzenStack Orientation="Orientation.Horizontal" AlignItems="AlignItems.Center">
                <RadzenText @ref="@_uppercaseCheck" Text="1 uppercase" />
                @if (_hasUpperChar)
                {
                    <RadzenIcon Icon="done" Style="width: 40px;" />
                }
                else
                {
                    <RadzenIcon Icon="hourglass_empty" Style="width: 40px;" />
                }
            </RadzenStack>

            <RadzenStack Orientation="Orientation.Horizontal" AlignItems="AlignItems.Center">
                <RadzenText @ref="@_lowercaseCheck" Text="1 lowercase" />
                @if (_hasLowerChar)
                {
                    <RadzenIcon Icon="done" Style="width: 40px;" />
                }
                else
                {
                    <RadzenIcon Icon="hourglass_empty" Style="width: 40px;" />
                }
            </RadzenStack>

            <RadzenStack Orientation="Orientation.Horizontal" AlignItems="AlignItems.Center">
                <RadzenText @ref="@_numberCheck" Text="1 number" />
                @if (hasNumber)
                {
                    <RadzenIcon Icon="done" Style="width: 40px;" />
                }
                else
                {
                    <RadzenIcon Icon="hourglass_empty" Style="width: 40px;" />
                }
            </RadzenStack>
            <br />





            <RadzenText Text="Please enter your password" />
            <RadzenPassword Placeholder="Password" @bind-Value="@password" Change="@ValidatePassword" />
            <RadzenText Visible="@_enterPassword" Text="Please enter a valid password" Style="color: Red;" />

            <RadzenText Text="Please confirm your password" />
            <RadzenPassword Placeholder="Confirm Password" @bind-Value="@confirmPassword" />
            <RadzenText Visible="@(!_passwordMatch)" Text="Passwords do not match" Style="color: Red;" />
            <br />

            <RadzenButton Text="Register" ButtonStyle="ButtonStyle.Secondary" Click="@HandleValidSubmit" />

            <br />
            <br />

            <RadzenText Text="Already have an account?" />
            <RadzenButton Text="Log In" ButtonStyle="ButtonStyle.Warning" Click="@NavigateToLogin" />
        </RadzenStack>
    }

</div>



